<!doctype html>
<html>
<head>
	<title>Mojave Web</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">
	<a href="/logout" class="btn btn-default btn-sm" style="float: right; margin-top:10px;">Logout</a>

	<div class="page-header text-center">
		<h1>Albums</h1>
		<h4><a href="/profile">Profile</a></h4>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hello
		</div>
	</div>

</div>
</body>
</html>