<!doctype html>
<html>
<head>
	<title>Mojave Web</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		.albumCell { padding: 20px; }
	</style>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand">Mojave Web</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#"><span class="fa fa-picture-o"></span> Albums</a></li>
	        <li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container">

		<div class="page-header">
			<h1><span class="fa fa-picture-o"></span> Albums</h1>
		</div>

		<div class="row">
			<button type="button" class="btn btn-default"><span class="fa fa-plus"></span> New Album</button>
		</div>
		<div class="row">
		<% user.albums.forEach(function (albumID) { %>
		  <div class="col-md-4 albumCell"><img src="http://lorempixel.com/200/200/"></div>
		<% }); %>
		</div>

	</div>
</body>
</html>