<!doctype html>
<html>
<head>
	<title>Mojave Web</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center" id="frontHeader">
			<h1>Mojave Web</h1>

			<span class="fa fa-sign-in"></span> Sign in with
			<a href="/auth" class="btn btn-primary">
				<span class="fa fa-facebook"></span> Facebook
			</a>
		</div>

	</div>
</body>
</html>